################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dersler/FileContentIndex/ee7860a7-b19f-4c98-bda6-cf2e5a16d7b0.vsidx
